## <b> Problem Description </b>

### In this project, your task is to identify major customer segments on a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

## <b> Data Description </b>

### <b>Attribute Information: </b>

* ### InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.
* ### StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.
* ### Description: Product (item) name. Nominal.
* ### Quantity: The quantities of each product (item) per transaction. Numeric.
* ### InvoiceDate: Invice Date and time. Numeric, the day and time when each transaction was generated.
* ### UnitPrice: Unit price. Numeric, Product price per unit in sterling.
* ### CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.
* ### Country: Country name. Nominal, the name of the country where each customer resides.

In [38]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
customer_data=pd.read_csv('Online Retail.csv',encoding= 'unicode_escape')
customer_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09-12-2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09-12-2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09-12-2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09-12-2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09-12-2011 12:50,4.95,12680.0,France

In [40]:
customer_data.shape

(541909, 8)

In [41]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [42]:
customer_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [43]:
customer_data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

# Data Cleaning

In [44]:
pd.DataFrame(customer_data.isna().mean())

                    0
InvoiceNo    0.000000
StockCode    0.000000
Description  0.002683
Quantity     0.000000
InvoiceDate  0.000000
UnitPrice    0.000000
CustomerID   0.249267
Country      0.000000

### 25 % of items purchase are not assigned to  Customers
- Hence there is no use of having the data with out customer assignment
- So its better to Delete them from data frame

In [53]:
customer_data.dropna(subset=['CustomerID'],inplace=True)

In [54]:
customer_data.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

- There are no null values

In [31]:
customer_data[customer_data['Description']=='?']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
7313,537032,21275,?,-30,03-12-2010 16:50,0.0,NaN,United Kingdom
21518,538090,20956,?,-723,09-12-2010 14:48,0.0,NaN,United Kingdom
38261,539494,21479,?,752,20-12-2010 10:36,0.0,NaN,United Kingdom
43662,540100,22837,?,-106,04-01-2011 16:53,0.0,NaN,United Kingdom
50806,540558,21258,?,-29,10-01-2011 10:04,0.0,NaN,United Kingdom
51673,540651,82599,?,-290,10-01-2011 15:00,0.0,NaN,United Kingdom
68920,541882,48185,?,-57,24-01-2011 10:54,0.0,NaN,United Kingdom
78235,542861,47591B,?,-207,01-02-2011 11:47,0.0,NaN,United Kingdom
94765,544410,84997C,?,-741,18-02-2011 13:54,0.0,NaN,United Kingdom
97643,544649,21621,?,-400,22-02-2011 12:37,0.0,NaN,United Kingdom
115806,546138,21815,?,-300,09-03-2011 16:34,0.0,NaN,United Kingdom
115807,546139,84988,?,3000,09-03-2011 16:35,0.0,NaN,United Kingdom
115811,546145,21537,?,-80,09-03-2011 16:39,0.0,NaN,United Kingdom
115814,546148,85049D,?,-100,09-03-2011 16:43,0.0,NaN,United Kingdom
115815,546149,20866,?,-230,09-03-2011 17:02,0.0,NaN,United Kingdom
116406,546245,85185B,?,-259,10-03-2011 13:26,0.0,NaN,United Kingdom
128467,547339,84406B,?,-450,22-03-2011 11:51,0.0,NaN,United Kingdom
205953,554852,21272,?,-212,27-05-2011 09:24,0.0,NaN,United Kingdom
220843,556231,85123A,?,4000,09-06-2011 15:04,0.0,NaN,United Kingdom
221959,556299,21937,?,-161,10-06-2011 10:17,0.0,NaN,United Kingdom
229380,557035,82583,?,-220,16-06-2011 13:52,0.0,NaN,United Kingdom
229381,557036,20867,?,-271,16-06-2011 13:53,0.0,NaN,United Kingdom
243390,558457,21147,?,-95,29-06-2011 13:59,0.0,NaN,United Kingdom
254446,559314,84584,?,-50,07-07-2011 13:51,0.0,NaN,United Kingdom
255901,559375,22051,?,-300,08-07-2011 10:37,0.0,NaN,United Kingdom
258540,559655,21166,?,-124,11-07-2011 12:57,0.0,NaN,United Kingdom
263184,559943,21578,?,-251,14-07-2011 10:21,0.0,NaN,United Kingdom
282882,561665,22171,?,142,28-07-2011 16:55,0.0,NaN,United Kingdom
285886,561927,22740,?,-1060,01-08-2011 12:49,0.0,NaN,United Kingdom
288519,562164,21257,?,-94,03-08-2011 12:08,0.0,NaN,United Kingdom
290579,562382,22927,?,-40,04-08-2011 15:36,0.0,NaN,United Kingdom
290580,562383,22523,?,-90,04-08-2011 15:37,0.0,NaN,United Kingdom
292269,562546,20694,?,-110,05-08-2011 15:46,0.0,NaN,United Kingdom
323315,565288,23135,?,101,02-09-2011 11:43,0.0,NaN,United Kingdom
323390,565297,84877D,?,-203,02-09-2011 12:06,0.0,NaN,United Kingdom
323462,565307,21830,?,-443,02-09-2011 12:20,0.0,NaN,United Kingdom
350350,567629,40016,?,-752,21-09-2011 13:21,0.0,NaN,United Kingdom
352827,567693,85199L,?,-250,21-09-2011 17:26,0.0,NaN,United Kingdom
360738,568302,20700,?,-121,26-09-2011 12:46,0.0,NaN,United Kingdom
381307,569855,23412,?,-30,06-10-2011 14:27,0.0,NaN,United Kingdom
384187,570110,22570,?,-74,07-10-2011 12:27,0.0,NaN,United Kingdom
384222,570112,22569,?,-84,07-10-2011 12:29,0.0,NaN,United Kingdom
392675,570712,22121,?,-90,12-10-2011 10:15,0.0,NaN,United Kingdom
395168,571024,22812,?,-270,13-10-2011 12:18,0.0,NaN,United Kingdom
397026,571116,23131,?,-49,13-10-2011 17:46,0.0,NaN,United Kingdom
397225,571126,72802A,?,-50,14-10-2011 09:53,0.0,NaN,United Kingdom
421093,572920,72803A,?,117,26-10-2011 16:52,0.0,NaN,United Kingdom

## We have "?" in places of description in the above list
- In the above list all the values in the